[submodule "ac-slime"]
	path = ac-slime
	url = git://github.com/purcell/ac-slime.git
[submodule "auto-complete"]
	path = auto-complete
	url = git://github.com/m2ym/auto-complete.git
[submodule "undo-tree"]
	path = undo-tree
	url = http://www.dr-qubit.org/git/undo-tree.git
[submodule "magit"]
	path = magit
	url = git://github.com/philjackson/magit.git
